//
// _header.scss
//

#page-topbar {
  top: 2px;
  z-index: 1002;
}

.navbar-header {
  align-items: center;
  margin: 25px auto;
  height: $header-height;
}

.header-profile-user {
  height: 40px;
  width: 40px;
  background-color: $gray-300;
  //padding: 3px;
}
