<footer class="d-flex justify-content-between footer">
  <a routerLink="/my-activity" routerLinkActive="active">
    <i class="mdi mdi-home"></i>
  </a>
  <a routerLink="/history" routerLinkActive="active">
    <i class="ri-bar-chart-line"></i>
  </a>
  <div class="action-button font-size-22">
<!--    <i class="fas fa-plus-circle"></i>-->
  </div>
  <a routerLink="/chat" routerLinkActive="active">
    <i class=" ri-chat-3-line"></i>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <i class="far fa-user"></i>
  </a>
</footer>
