<div class="card shadow">
  <div class="card-body">
    <div class="d-flex justify-content-start mt-2">
      <div class="text-primary mt-2 me-2">
        <i class="{{icon}} font-size-20"></i>
      </div>
      <div class="overflow-hidden">
        <h5 class="font-size-15 mb-0">{{value}}</h5>
        <h5 class="text-muted font-size-13 mb-2"><small>{{text}}</small></h5>
        <p><ngb-progressbar [value]="progress" type="success" height="8px"></ngb-progressbar></p>
      </div>
    </div>
  </div>
</div>
